.post {
  font-family: 'Helvetica Neue','나눔고딕';
  margin: 0 0 80px;
  padding-bottom: 40px;
  
  .post-timestamp{
    margin-bottom: 10px;
    padding: 0px 0px 0px;
    font-size: 20px;
    text-transform: uppercase;
    color: #888;
  }
  
  .post-title {
    border-bottom: 4px solid #7AC7BD;
    font-size: 40px;
    font-weight: lighter;
    line-height: 40px;
    margin: 0 0 20px;
    padding: 0 0 20px;
    text-transform: uppercase;
  }
  
  .post-content {
    font-size: 13px;
    line-height: 20px;
  }
  
  pre {
    font-family: 'monaco';
    font-size: 12px;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border-color: #BBBBBB #DDDDDD #DDDDDD #BBBBBB;
    border-style: solid;
    border-width: 1px;
  }
  
  .post-nav {
    font-size: 12px;
    text-align: right;
    float: right;
    margin-top: 0;
    
    li {
      float: left;
      padding-right: 5px;
    }
    
    a {
      color: #595959;
      opacity: 0.6;
    }
  }
}

#footer {
  font-family: 'Helvetica Neue','나눔고딕';
  
  .pagination {
    padding-bottom: 50px;
    text-align: center;
    font-size: 100%;

    .prev, .first, .next, .last {
      font-size: 70%;
    }
        
    .prev {
      padding-right: 10px;
    }
    .next {
      padding-left: 10px;
    }
  }
}